  <div class="slider_float">
    <div id="slider">


      <div><img src="/assets/rails.png" alt="photo1 title"/></div>

      <div><img src="/assets/cave.jpg" alt="photo2 title"/></div>

      <div><img src="/assets/fruits.jpg" alt="photo3 title"/></div>

      <div><img src="/assets/pool.jpg" alt="photo4 title"/></div>

      <div><img src="/assets/brr 039.jpg" alt="photo4 title"/></div>

      <div><img src="/assets/brr 071.jpg" alt="photo4 title"/></div>

    </div>

  </div>


