<div class="banner">
  <ul>
    <li><img src="/assets/rails.png" alt="photo1 title"/></li>

    <li><img src="/assets/cave.jpg" alt="photo2 title"/></li>

    <li><img src="/assets/fruits.jpg" alt="photo3 title"/></li>

    <li><img src="/assets/pool.jpg" alt="photo4 title"/></li>

    <li><img src="/assets/brr 039.jpg" alt="photo4 title"/></li>

    <li><img src="/assets/brr 071.jpg" alt="photo4 title"/></li>
  </ul>
</div>



