  <div class="slider_float">
    <div id="slider">


      <div><img src="/assets/kitty.jpg" width="600" height="383" alt="photo1 title"/></div>

      <div><img src="/assets/kitty4.jpg" width="600" height="450" alt="photo2 title"/></div>

      <div><img src="/assets/kitty3.jpg" width="600" height="800" alt="photo3 title"/></div>

      <div><img src="/assets/kitty2.jpg" width="600" height="800" alt="photo4 title"/></div>


    </div>

  </div>


